@use 'core' as *;


// ------------------------------------------------------------
/* Cards */
// ------------------------------------------------------------

.slds-card {
  padding: .8rem 1rem .9rem;
  border: 2px solid #004976;
  border-radius: 4px;
  background-color: #fff;

  .slds-media__figure {
    flex: 0 0 7.5rem;
    overflow: hidden;
    margin-right: 1rem;
    border-radius: 50%;
  }

  .slds-card__header-title {
    font-size: $type-size--3;
    font-weight: 700;
  }

  .slds-list_horizontal {
    grid-gap: 0 .25rem;
  }

  .slds-card__footer {
    margin-top: 0;
    padding: 0;
    border-top: 0;
    font-size: $type-size--4;
  }

  // Using expandable sections as the more info area
  .slds-section__title-action {
    padding-left: 9.5rem;
    background-color: transparent;
    border: 0;
    color: $color-primary--denim;
    font-size: $type-size--5;
    font-weight: $type-weight--semibold;
    box-shadow: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }

    .slds-section__title-action-icon {
      margin-left: .5rem;
    }
  }

  .slds-section__content {
    padding-left: 9.5rem; // Align with non-expanded content
    text-align: left;
  }
}
