@use 'core' as *;


// ------------------------------------------------------------
/* Menus */
// ------------------------------------------------------------

.slds-dropdown {
  min-width: 12rem;
  max-width: 20rem;
  padding: 0;
  background-color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 1rem;
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, .2),
    0 4px 5px 0 rgba(0, 0, 0, .14),
    0 1px 10px 0 rgba(0, 0, 0, .12);

  .slds-dropdown__item a {
    padding: 1rem .5rem;
    color: #222;
    line-height: 1.2;
  }

  [class*="slds-has-divider"] {
    margin: 0;
    padding: 0;
  }
}
