<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Salesforce Lightning Design System Starter Kit</title>
  <link rel="icon" type="image/png" href="/favicon.png" />
  <meta name="robots" content="noindex, nofollow" />

  <!-- Prototype styles -->
  <link rel="stylesheet" href="/styles/index.css" />
</head>
<body>
  <div class="slds-p-around--large slds-container--center slds-container--medium slds-m-bottom--xx-large">
    <h1 class="slds-text-heading--large slds-m-bottom--large">
      Common App Lightning Design System customization
    </h1>

    <hr>

    <h2 class="slds-text-heading--medium slds-text-align_right">Text</h2>

    <p class="slds-text-heading--large slds-m-bottom--small">
      Heading large
    </p>

    <p class="slds-text-heading--medium slds-m-bottom--small">
      Heading medium
    </p>

    <p class="slds-text-heading--small slds-m-bottom--small">
      Heading small
    </p>

    <p class="slds-text-body_regular">
      Common App and Reach Higher have united to inspire more people to complete their education and own their future, no matter what it holds. Get valuable advice from students who have been in your shoes.
    </p>

    <hr>

    <h2 class="slds-text-heading--medium slds-text-align_right">Buttons</h2>

    <button class="slds-button slds-button_neutral slds-m-bottom--small">Tertiary button</button>

    <button class="slds-button slds-button_outline-brand slds-m-bottom--small">Secondary button</button>

    <button class="slds-button slds-button_brand slds-m-bottom--small">Primary button</button>

    <hr>

    <h2 class="slds-text-heading--medium slds-text-align_right">Menu</h2>

    <div class="slds-dropdown-trigger slds-dropdown-trigger_click">
      <button class="slds-button slds-button_icon slds-button_icon-border-filled" aria-haspopup="true" title="Show More">
        <svg class="slds-button__icon" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"></use>
        </svg>
        <span class="slds-assistive-text">Show More</span>
      </button>
      <div class="slds-dropdown slds-dropdown_left">
        <ul class="slds-dropdown__list" role="menu" aria-label="Show More">
          <li class="slds-dropdown__item" role="presentation">
            <a href="#" role="menuitem" tabindex="0">
              <span class="slds-truncate" title="Menu Item One">Menu Item One</span>
            </a>
          </li>
          <li class="slds-dropdown__item" role="presentation">
            <a href="#" role="menuitem" tabindex="-1">
              <span class="slds-truncate" title="Menu Item Two">Menu Item Two</span>
            </a>
          </li>
          <li class="slds-dropdown__item" role="presentation">
            <a href="#" role="menuitem" tabindex="-1">
              <span class="slds-truncate" title="Menu Item Three">Menu Item Three</span>
            </a>
          </li>
          <li class="slds-has-divider_top-space" role="separator"></li>
          <li class="slds-dropdown__item" role="presentation">
            <a href="#" role="menuitem" tabindex="-1">
              <span class="slds-truncate" title="Menu Item Four">Menu Item Four</span>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <hr>

    <h2 class="slds-text-heading--medium slds-text-align_right">Form elements</h2>

    <div class="slds-form-element">
      <label class="slds-form-element__label" for="text-input-id-1">
        Input Label<abbr class="slds-required" title="required"> *</abbr>
      </label>

      <div class="slds-form-element__control">
        <input type="text" id="text-input-id-1" placeholder="Placeholder text…" required="" class="slds-input" />
      </div>
    </div>

    <div class="slds-form-element slds-has-error">
      <label class="slds-form-element__label" for="text-input-id-2">
        <!-- Conditional on error -->
        <svg class="slds-form-error__icon" aria-hidden="true">
          <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#clear"></use>
        </svg>

        Input Label<abbr class="slds-required" title="required"> *</abbr>
      </label>

      <div class="slds-form-element__control">
        <input type="text" id="text-input-id-2" placeholder="Placeholder text…" required="" aria-describedby="error-message-unique-id" class="slds-input" aria-invalid="true" />
      </div>
      <div class="slds-form-element__help" id="error-message-unique-id">Please fill out this required question.</div>
    </div>

    <div class="slds-form-element">
      <label class="slds-form-element__label" for="textarea-id-01">Textarea Label</label>
      <div class="slds-form-element__control">
        <textarea id="textarea-id-01" placeholder="Placeholder text…" class="slds-textarea"></textarea>
      </div>
    </div>

    <fieldset class="slds-form-element">
      <legend class="slds-form-element__legend slds-form-element__label">Radio Group Label</legend>
      <div class="slds-form-element__control">
        <span class="slds-radio">
          <input type="radio" id="radio-43" value="radio-43" name="default" checked="" />
          <label class="slds-radio__label" for="radio-43">
            <span class="slds-radio_faux"></span>
            <span class="slds-form-element__label">Radio Label One</span>
          </label>
        </span>
        <span class="slds-radio">
          <input type="radio" id="radio-44" value="radio-44" name="default" />
          <label class="slds-radio__label" for="radio-44">
            <span class="slds-radio_faux"></span>
            <span class="slds-form-element__label">Radio Label Two</span>
          </label>
        </span>
      </div>
    </fieldset>

  </div>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/vendor/svg4everybody.min.js"></script>
  <script>svg4everybody();</script>
</body>
</html>
